<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reverse ME</title>
  </head>

  <body>
    <h1>Upload a .exe File</h1>
    <form id="form">
      <input type="file" name="file" accept=".exe" />
      <br /><br />
      <input type="submit" />
    </form>
    <pre style="background-color:rgb(230, 230, 230);">
      <code>
        {{.Output}}
      </code>
    </pre>

    <script>
      document.getElementById('form').addEventListener('submit', async (event) => {
        event.preventDefault();

        const form = event.target;
        const formData = new FormData(form);

        const res = await fetch("http://localhost:8080/gimmeEXE", {
          method: 'POST',
          headers: { 'Content-Type': 'multipart/form-data', },
          body: fromData,
        });

        if (res.ok) {
          console.log.(res)
        }
      })
    </script>
  </body>
</html>
